<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Кафедра правового обеспечения управления</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
	<link href="/styles/site.css" rel="stylesheet">
	{{{isAdminEditorCSS user}}}
</head>

<body>
	<header class="header">
		<div class="header__container">
			<h1 class="header__title">Кафедра правового обеспечения управления</h1>
			<h2 class="header__subtitle">Институт государственного управления и права</h2>
			<ul class="header__menu">
				{{# each navLinks}}
					<li {{#ifeq ../section key}}class="active" {{else}}{{/ifeq}}>
						<a href="{{ href }}">{{ label }}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</header>

	<main id="body" class="main">
		<div class="main__container">
			{{{body}}}
		</div>
	</main>

	<footer class="footer">
		<div class="footer__container">
			<div class="footer__left">
				<p>Телефон:  8(495)377- 06- 35, 26-65</p>
				<p>Е-mail: kafprou@mail.ru</p>
			</div>
			<div class="footer__right">
				<p>Адрес: 109542, Москва, Рязанский проспект, 99, А-402</p>
				<p>График работы: понедельник-пятница 9:00-18:00</p>
			</div>
		</div>
	</footer>

{{{isAdminEditorJS user}}}
</body>

</html>
