{{!< default}}

<div class="index__about">
  <div class="index__about-left">
    <h2>О кафедре</h2>

    <p>Кафедра правового обеспечения управления была создана в 2011 году приказом Ректора от 4 мая 2011 г. № 73/М-I на основании решения Ученого Совета вуза от 26 апреля 2011 года, протокол №11.</p>

    <p>В настоящее время кафедра является одним из ведущих учебно-научных подразделений в области правового обеспечения управления. Кафедра участвует в подготовке бакалавров и магистров по направлению «Юриспруденция» очной, очно-заочной и заочной форм обучения. Основные дисциплины, преподаваемые кафедрой: Административное право, Административный процесс, Финансовое право, Налоговое право, Таможенное право, Актуальные проблемы права, Методология юридической науки.</p>
  </div>
  <div class="index__about-right">
    <img src="/images/logo.gif" title="Государственный Университет Управления">
  </div>
</div>

<div class="index__teachers">
  <h2>Преподаватели</h2>

  <ul class="index__teachers-list">
    {{# each data.teachers}}
    <li class="index__teacher">
      {{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}">
      {{/if}}
      <h3>{{{name}}}</h2>
      <p>{{{position}}}</p>
    </li>
    {{/each}}
  </ul>
</div>

<div class="index__subjects">
  <h2>Дисциплины</h2>

<ul class="index__subjects-list">
  {{# each data.subjects}}
  <li class="index__subject">
    <h3 class="index__subject-name">{{{name}}}</h2>
    <p class="index__subject-description">{{{description}}}</p>
  </li>
  {{/each}}
</ul>
</div>

