{{!
< default}}
{{# each data.main}} <div class="index__about">
  <div class="index__about-left">
    <h2>{{{title}}}</h2>
    <div>{{{content}}}</div>
  </div>
  <div class="index__about-right">
    {{#if image}}
    <img src="{{{cloudinaryUrl image}}}" title="Государственный Университет Управления"> {{/if}}
  </div>
  </div>
  {{/each}}

  <div class="index__teachers">
    <h2>Преподаватели</h2>

    <ul class="index__teachers-list">
      {{# each data.teachers}}
      <li class="teacher">
        <img class="teacher__photo" src="{{#if image.url}}{{cloudinaryUrl image width=160 height=160 crop='fill' gravity='center' }}{{else}}/images/no-photo.png{{/if}}"
        />
        <p class="teacher__position">{{{position}}}</p>
        <h3 class="teacher__name">{{{name}}}</h2>
          <p class="teacher__degree">{{{degree}}}</p>

          {{#if info}}
          <div class="teacher__info">
            <h4 class="teacher__info-header">Доп. информация:</h4>
            {{{info}}}
          </div>
          {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="index__subjects">
    <h2 class="index__subjects-heading">Дисциплины, преподаваемые кафедрой</h2>

    {{# each data.subjects}}

    <h3 class="index__subjects-category-name">{{category}}</h3>

    <ul class="index__subjects-list">
      {{# each subjects}}
        <li class="index__subject">
          <h3 class="index__subject-name">{{{name}}}</h2>
          <p class="index__subject-description">{{{description}}}</p>
        </li>
      {{/each}}
    </ul>

    {{/each}}
  </div>
