
<div class="study__schedules">
  <h2>Расписание</h2>
  <ul class="study__schedules-list">
    {{# each data.schedules}}
    <li class="study__schedule">
      <h3>{{{name}}}</h2>
      <p>{{{description}}}</p>
      <a href="{{{file.url}}}">Скачать</a>
    </li>
    {{/each}}
</ul>
</div>


{{# each data.sections}}
<div class="study__section">
  <h2>{{{title}}}</h2>
  <div class="study__section-content">{{{content}}}</div>
</div>
{{/each}}

